.heading {
  font-size: 24px;
  line-height: 32px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sub-heading {
  font-size: 16px;
  line-height: 24px;
}

.description {
  font-size: 14px;
  line-height: 22px;
}
